services:
  blender:
    image: lscr.io/linuxserver/blender:latest
    container_name: blender
    security_opt:
      - seccomp=unconfined #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Singapore
      - SUBFOLDER=/ #optional
    volumes:
      - /mnt/sec/apps/blender/config:/config
    ports:
      - 3028:3000
    restart: unless-stopped