services:
  postgresql:
    image: postgres:16
    container_name: zipline-db
    restart: unless-stopped
    command: ["postgres", "-c", "unix_socket_directories="]
    environment:
      POSTGRES_USER: zipline
      POSTGRES_PASSWORD: ${POSTGRESQL_PASSWORD}
      POSTGRES_DB: zipline
    volumes:
      - /mnt/sec/apps/zipline/pgdata:/var/lib/postgresql/data

  zipline:
    image: ghcr.io/diced/zipline:latest
    container_name: zipline
    restart: unless-stopped
    depends_on:
      - postgresql
    ports:
      - "3005:3000"
    environment:
      DATABASE_URL: postgresql://zipline:${POSTGRESQL_PASSWORD}@postgresql:5432/zipline
      CORE_SECRET: ${CORE_SECRET}
      CORE_HOSTNAME: 0.0.0.0
      CORE_PORT: 3000
    volumes:
      - /mnt/sec/apps/zipline/uploads:/zipline/uploads
      - /mnt/sec/apps/zipline/public:/zipline/public
      - /mnt/sec/apps/zipline/themes:/zipline/themes
    security_opt:
      - apparmor=unconfined
      - seccomp=unconfined    