name: Publish Documentation
on:
  push:
    branches:
      - main
  workflow_dispatch:
    
jobs:
  build-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    if: github.actor != 'github-actions[bot]'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Generate docs/templates.md
        run: python scripts/docgen-templates.py

      - name: Commit on change
        run: |
          if git status --porcelain docs/bas.md | grep .; then
            git config user.name "therepos"
            git config user.email "therepos@users.noreply.github.com"
            git add docs/templates.md
            git commit -m "Auto-generate documentation"
            git push
          fi